# SQL PROJECT

## Анализ продаж

В этом проекте я произведу анализ продаж компании и создам отчет на основе анализа этих данных

Настроем notebook и приступим к анализу

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
pd.set_option('display.max_columns', 40)
engine = create_engine(
    "postgresql+psycopg2://postgres:1234@localhost:5433/project"
)

Так-как таблица изначально была в формате csv я ее перевел в удобный формат для работы с PostgreSQL и отформатировал даты используя данную комманду: `alter table <table_name> alter column <column_name> type date
using to_date(<column_name>, 'MM/DD/YYYY') `


# 1. Выручка по годам

Посмотрим на выручку компании в каждом году, а также на количество уникальных клиентов

In [4]:
query = """
SELECT EXTRACT(YEAR FROM order_date) AS year_of, SUM(sales_amount) AS summary, COUNT(DISTINCT customer_key)
FROM fact_sales
WHERE extract(year from order_date) IS NOT NULL
GROUP BY year_of
ORDER BY year_of asc
"""

df = pd.read_sql(query, engine)
df

   year_of     summary  count
0   2010.0     43419.0     14
1   2011.0   7075088.0   2216
2   2012.0   5842231.0   3255
3   2013.0  16344878.0  17427
4   2014.0     45642.0    834

Видно, что в 2010 и 2014 году наблюдается очень низкая выручка, это вызвано тем, что данные за 2010 и за 2014 года собраны только за один месяц

# 2. Помесячная выручка за определенный период времени
Посмотрим, какая выручка была у компании с 2012 по 2013 год включительно

In [5]:
query = """
SELECT CAST(DATE_TRUNC('month', order_date) AS date) AS date, SUM(sales_amount) AS summary, COUNT(DISTINCT customer_key)
FROM fact_sales
WHERE order_date IS NOT NULL AND order_date > '2011-12-01' AND order_date < '2014-01-01'
GROUP BY date
ORDER BY date asc
"""

df = pd.read_sql(query, engine)
df

          date    summary  count
0   2011-12-01   661743.0    219
1   2012-01-01   495363.0    252
2   2012-02-01   506992.0    260
3   2012-03-01   373478.0    212
4   2012-04-01   400324.0    219
5   2012-05-01   358866.0    207
6   2012-06-01   555142.0    318
7   2012-07-01   444533.0    246
8   2012-08-01   523887.0    294
9   2012-09-01   486149.0    269
10  2012-10-01   535125.0    313
11  2012-11-01   537918.0    324
12  2012-12-01   624454.0    354
13  2013-01-01   857758.0    627
14  2013-02-01   771218.0   1373
15  2013-03-01  1049732.0   1631
16  2013-04-01  1045860.0   1564
17  2013-05-01  1284456.0   1719
18  2013-06-01  1642948.0   1948
19  2013-07-01  1371595.0   1796
20  2013-08-01  1545910.0   1898
21  2013-09-01  1447324.0   1832
22  2013-10-01  1673261.0   2073
23  2013-11-01  1780688.0   2036
24  2013-12-01  1874128.0   2133

# 3. Куммулятивная выручка и средняя выручка
Здесь посмотрим на выручку и среднюю выручку по годам

In [6]:
query = """
SELECT
date,
SUM(sales_total) OVER(PARTITION BY EXTRACT(YEAR FROM date) ORDER BY date),
avg(avg_price) OVER(PARTITION BY EXTRACT(YEAR FROM date) ORDER BY date)
FROM
(SELECT
CAST(DATE_TRUNC('month', order_date) AS date) AS date,
SUM(sales_amount) AS sales_total,
AVG(price) AS avg_price
FROM fact_sales
WHERE order_date IS NOT NULL
GROUP BY date
ORDER BY date)
"""

df = pd.read_sql(query, engine)
df

          date         sum          avg
0   2010-12-01     43419.0  3101.357143
1   2011-01-01    469795.0  3262.465278
2   2011-02-01    936102.0  3250.354167
3   2011-03-01   1421267.0  3245.047222
4   2011-04-01   1923309.0  3233.215353
5   2011-05-01   2484956.0  3232.143547
6   2011-06-01   3222749.0  3228.085564
7   2011-07-01   3819459.0  3220.357535
8   2011-08-01   4433975.0  3215.815434
9   2011-09-01   5037022.0  3220.692999
10  2011-10-01   5745186.0  3219.059898
11  2011-11-01   6405693.0  3215.101218
12  2011-12-01   7075088.0  3198.450516
13  2012-01-01    495363.0  1965.726190
14  2012-02-01   1002355.0  1957.847711
15  2012-03-01   1375833.0  1892.461367
16  2012-04-01   1776157.0  1876.336893
17  2012-05-01   2135023.0  1847.799949
18  2012-06-01   2690165.0  1830.788217
19  2012-07-01   3134698.0  1827.396289
20  2012-08-01   3658585.0  1821.712824
21  2012-09-01   4144734.0  1820.105327
22  2012-10-01   4679859.0  1809.061248
23  2012-11-01   5217777.0  1795.532111
24  2012-12-01   5842231.0  1753.643221
25  2013-01-01    857758.0   516.009627
26  2013-02-01   1628976.0   369.677272
27  2013-03-01   2678708.0   332.067044
28  2013-04-01   3724568.0   314.761517
29  2013-05-01   5009024.0   310.205258
30  2013-06-01   6651972.0   312.996853
31  2013-07-01   8023567.0   310.228608
32  2013-08-01   9569477.0   311.309510
33  2013-09-01  11016801.0   311.557905
34  2013-10-01  12690062.0   311.980332
35  2013-11-01  14470750.0   314.606372
36  2013-12-01  16344878.0   316.682169
37  2014-01-01     45642.0    23.168528

# 4. анализ по-товарной выручки
Рассмотрим динамику изменения выручки

Колонка 'avg_change' будет отвечать за уровень продаж за определенный год по сравнению со средним значением

Колонка 'yearly_change' будет отвечать за разницу в цене между нынешним и прошлым годом

In [7]:
query = """
WITH yearly_product_sales AS (
SELECT
EXTRACT(YEAR FROM f.order_date) AS order_year,
p.product_name AS product_name,
SUM(f.sales_amount) AS current_sales
FROM fact_sales f
LEFT JOIN dim_products p
ON p.product_key = f.product_key
WHERE f.order_date IS NOT NULL
GROUP BY
order_year, p.product_name
)
SELECT
order_year, product_name, current_sales,
AVG(current_sales) OVER(PARTITION BY  product_name) AS avg_sales,
CASE WHEN current_sales - AVG(current_sales) OVER(PARTITION BY  product_name) > 0 THEN 'Выше среднего'
	 WHEN current_sales - AVG(current_sales) OVER(PARTITION BY  product_name) < 0 THEN 'Ниже среднего'
	 ELSE 'Средне'
END avg_change,
LAG(current_sales) OVER(PARTITION BY product_name ORDER BY order_year) AS previous_year_sales,
current_sales - LAG(current_sales) OVER(PARTITION BY product_name ORDER BY order_year) AS diff_py,
CASE WHEN current_sales - LAG(current_sales) OVER(PARTITION BY product_name ORDER BY order_year) > 0 THEN 'Увеличилась'
	 WHEN current_sales - LAG(current_sales) OVER(PARTITION BY product_name ORDER BY order_year) < 0 THEN 'Снизилась'
	 ELSE 'Без изменений'
END yearly_change
FROM yearly_product_sales
ORDER BY product_name, order_year
LIMIT 20
"""

df = pd.read_sql(query, engine)
df

,order_year,product_name,current_sales,avg_sales,avg_change,previous_year_sales,diff_py,yearly_change
0,2012.0,All-Purpose Bike Stand,159.0,13197.0,Ниже среднего,NaN,NaN,Без изменений
1,2013.0,All-Purpose Bike Stand,37683.0,13197.0,Выше среднего,159.0,37524.0,Увеличилась
2,2014.0,All-Purpose Bike Stand,1749.0,13197.0,Ниже среднего,37683.0,-35934.0,Снизилась
3,2012.0,AWC Logo Cap,72.0,6570.0,Ниже среднего,NaN,NaN,Без изменений
4,2013.0,AWC Logo Cap,18891.0,6570.0,Выше среднего,72.0,18819.0,Увеличилась
5,2014.0,AWC Logo Cap,747.0,6570.0,Ниже среднего,18891.0,-18144.0,Снизилась
6,2013.0,Bike Wash - Dissolver,6960.0,3636.0,Выше среднего,NaN,NaN,Без изменений
7,2014.0,Bike Wash - Dissolver,312.0,3636.0,Ниже среднего,6960.0,-6648.0,Снизилась
8,2013.0,Classic Vest- L,11968.0,6240.0,Выше среднего,NaN,NaN,Без изменений
9,2014.0,Classic Vest- L,512.0,6240.0,Ниже среднего,11968.0,-11456.0,Снизилась
10,2013.0,Classic Vest- M,11840.0,6368.0,Выше среднего,NaN,NaN,Без изменений
11,2014.0,Classic Vest- M,896.0,6368.0,Ниже среднего,11840.0,-10944.0,Снизилась
12,2012.0,Classic Vest- S,64.0,3648.0,Ниже среднего,NaN,NaN,Без изменений
13,2013.0,Classic Vest- S,10368.0,3648.0,Выше среднего,64.0,10304.0,Увеличилась
14,2014.0,Classic Vest- S,512.0,3648.0,Ниже среднего,10368.0,-9856.0,Снизилась
15,2012.0,Fender Set - Mountain,110.0,15554.0,Ниже среднего,NaN,NaN,Без изменений
16,2013.0,Fender Set - Mountain,44484.0,15554.0,Выше среднего,110.0,44374.0,Увеличилась
17,2014.0,Fender Set - Mountain,2068.0,15554.0,Ниже среднего,44484.0,-42416.0,Снизилась
18,2012.0,Half-Finger Gloves- L,24.0,3544.0,Ниже среднего,NaN,NaN,Без изменений
19,2013.0,Half-Finger Gloves- L,10248.0,3544.0,Выше среднего,24.0,10224.0,Увеличилась

# 5. Категории и процент от всей выручки

In [8]:
query1 = """
WITH category_sales AS (
SELECT
category,
SUM(sales_amount) AS total_sales
FROM fact_sales f
LEFT JOIN dim_products p
ON p.product_key = f.product_key
GROUP BY category
)
SELECT
category,
total_sales,
CONCAT(ROUND(((total_sales / SUM(total_sales) OVER())*100), 1), '%') AS part_to_whole
FROM category_sales
ORDER BY total_sales desc

"""

df = pd.read_sql_query(text(query1), engine)
df

      category  total_sales part_to_whole
0        Bikes   28316272.0         96.5%
1  Accessories     700262.0          2.4%
2     Clothing     339716.0          1.2%

# 6. Разбитие товаров на категории по ценам

In [9]:
query1 = """
WITH product_segments AS (SELECT
product_key,
product_name,
cost,
CASE WHEN cost < 100 THEN 'Ниже 100'
	 WHEN cost BETWEEN 100 AND 500 THEN '100-500'
	 WHEN cost BETWEEN 500 AND 1000 THEN '500-1000'
	 WHEN cost > 1000 THEN 'Выше 1000'
END cost_range
FROM dim_products
)
SELECT
cost_range,
COUNT(product_key) AS num_of_prducts
FROM product_segments
GROUP BY cost_range
ORDER BY COUNT(product_name) DESC

"""

df = pd.read_sql_query(text(query1), engine)
df

  cost_range  num_of_prducts
0   Ниже 100             110
1    100-500             101
2   500-1000              45
3  Выше 1000              39

# 7. Категории покупателей
Разобьем покупателей на категории по тратам и времени с момента первого заказа

In [10]:
query1 = """
WITH customers AS (SELECT
c.customer_key,
SUM(f.sales_amount) AS total_spent,
MIN(order_date) AS first_order,
MAX(order_date) AS last_order,
EXTRACT(YEAR FROM AGE(MAX(order_date), MIN(order_date)))*12 + EXTRACT(MONTH FROM AGE(MAX(order_date), MIN(order_date))) AS time_span
FROM fact_sales f
LEFT JOIN dim_customers c
ON c.customer_key = f.customer_key
GROUP BY c.customer_key)
SELECT
customer_rank,
COUNT(customer_key) AS total_customers
FROM(
SELECT
customer_key,
CASE WHEN time_span >= 12 AND total_spent > 5000 THEN 'ВИП'
	 WHEN time_span >= 12 AND total_spent <= 5000 THEN 'Обычные'
	 ELSE 'Новые'
END customer_rank
FROM customers)
GROUP BY customer_rank
ORDER BY total_customers desc
"""

df = pd.read_sql_query(text(query1), engine)
df

  customer_rank  total_customers
0         Новые            14828
1       Обычные             2037
2           ВИП             1619

# 8. Составляем доклад
Здесь мы составим доклад о покупателях, который впоследствии можно будет использовать для EDA
1. Клиентские данные
2. Общая информация о покупках
3. Последний заказ, время с первого заказа
4. Возрастная категория, ранг клиента
5. Средняя цена заказа
6. Среднее количество трат в месяц

In [11]:
query1 = """
WITH base_query AS (SELECT
f.order_number,
f.product_key,
f.order_date,
f.sales_amount,
f.quantity,
c.customer_key,
c.customer_number,
CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
EXTRACT(YEAR FROM AGE(NOW()::DATE, c.birthdate)) AS age
FROM fact_sales f
LEFT JOIN dim_customers c
ON c.customer_key = f.customer_key
WHERE order_date IS NOT NULL
)
, customer_aggregation AS (
SELECT
customer_key,
customer_number,
customer_name,
age,
COUNT(DISTINCT order_number) AS total_orders,
SUM(sales_amount)  AS total_sales,
SUM(quantity) AS total_quantity,
COUNT(DISTINCT product_key) AS total_products,
MAX(order_date) AS last_order,
EXTRACT(YEAR FROM AGE(MAX(order_date), MIN(order_date)))*12
+ EXTRACT(MONTH FROM AGE(MAX(order_date), MIN(order_date))) AS time_span
FROM base_query
GROUP BY customer_key,
customer_number,
customer_name,
age
)
SELECT
*,
CASE WHEN age < 25 THEN 'Младше 25'
	 WHEN age BETWEEN 25 AND 39 THEN '25-39'
	 WHEN age BETWEEN 40 AND 59 THEN '40-59'
	 ELSE 'Старше 60'
END age_group,
CASE WHEN time_span >= 12 AND total_sales > 5000 THEN 'ВИП'
	 WHEN time_span >= 12 AND total_sales <= 5000 THEN 'Обычный'
	 ELSE 'Новый'
END customer_rank,
EXTRACT(YEAR FROM AGE('2014-02-10', last_order))*12 +
EXTRACT(MONTH FROM AGE('2014-02-10', last_order)) AS recency,
CASE WHEN total_orders = 0 THEN 0
	 ELSE ROUND(total_sales / total_orders, 0)
END avg_order_value,
CASE WHEN time_span = 0 THEN total_sales
	 ELSE ROUND(total_sales / time_span, 0)
END avg_monthly_spend
FROM customer_aggregation
"""

df = pd.read_sql_query(text(query1), engine)
df.head(20)

,customer_key,customer_number,customer_name,age,total_orders,total_sales,total_quantity,total_products,last_order,time_span,age_group,customer_rank,recency,avg_order_value,avg_monthly_spend
0,1,AW00011000,Jon Yang,54.0,3,8249.0,8.0,8,2013-05-03,27.0,40-59,ВИП,9.0,2750.0,306.0
1,2,AW00011001,Eugene Huang,49.0,3,6384.0,11.0,10,2013-12-10,34.0,40-59,ВИП,2.0,2128.0,188.0
2,3,AW00011002,Ruben Torres,54.0,3,8114.0,4.0,4,2013-02-23,25.0,40-59,ВИП,11.0,2705.0,325.0
3,4,AW00011003,Christy Zhu,52.0,3,8139.0,9.0,9,2013-05-10,28.0,40-59,ВИП,9.0,2713.0,291.0
4,5,AW00011004,Elizabeth Johnson,46.0,3,8196.0,6.0,6,2013-05-01,27.0,40-59,ВИП,9.0,2732.0,304.0
5,6,AW00011005,Julio Ruiz,49.0,3,8121.0,6.0,6,2013-05-02,28.0,40-59,ВИП,9.0,2707.0,290.0
6,7,AW00011006,Janet Alvarez,49.0,3,8119.0,5.0,5,2013-05-14,27.0,40-59,ВИП,8.0,2706.0,301.0
7,8,AW00011007,Marco Mehta,56.0,3,8211.0,8.0,8,2013-03-19,26.0,40-59,ВИП,10.0,2737.0,316.0
8,9,AW00011008,Rob Verhoff,50.0,3,8106.0,7.0,7,2013-03-02,25.0,40-59,ВИП,11.0,2702.0,324.0
9,10,AW00011009,Shannon Carlson,56.0,3,8091.0,5.0,5,2013-05-09,27.0,40-59,ВИП,9.0,2697.0,300.0
10,11,AW00011010,Jacquelyn Suarez,56.0,3,8088.0,4.0,4,2013-05-23,28.0,40-59,ВИП,8.0,2696.0,289.0
11,12,AW00011011,Curtis Lu,56.0,3,8133.0,4.0,4,2013-03-19,26.0,40-59,ВИП,10.0,2711.0,313.0
12,13,AW00011012,Lauren Walker,46.0,2,81.0,5.0,5,2013-10-15,6.0,40-59,Новый,3.0,41.0,14.0
13,14,AW00011013,Ian Jenkins,46.0,2,114.0,5.0,5,2014-01-21,9.0,40-59,Новый,0.0,57.0,13.0
14,15,AW00011014,Sydney Bennett,52.0,2,138.0,6.0,5,2013-04-30,1.0,40-59,Новый,9.0,69.0,138.0
15,16,AW00011015,Chloe Young,41.0,1,2501.0,3.0,3,2013-01-18,0.0,40-59,Новый,12.0,2501.0,2501.0
16,17,AW00011016,Wyatt Hill,41.0,1,2332.0,3.0,3,2013-02-09,0.0,40-59,Новый,12.0,2332.0,2332.0
17,18,AW00011017,Shannon Wang,76.0,3,6434.0,4.0,4,2013-10-14,33.0,Старше 60,ВИП,3.0,2145.0,195.0
18,19,AW00011018,Clarence Rai,70.0,3,6533.0,7.0,7,2013-10-24,33.0,Старше 60,ВИП,3.0,2178.0,198.0
19,20,AW00011019,Luke Lal,42.0,17,880.0,33.0,20,2014-01-12,11.0,40-59,Новый,0.0,52.0,80.0

# 9. Составляем второй доклад
Здесь мы составим доклад о товарах, категориях и субкатегориях
1. Данные товара
2. Последняя продажа, месяцев с последней продажи, время с первой покупки по последнюю
3. Категория по уровню выручки с товара, количество заказов, общая сумма, количество в штуках проданного товара
4. Количество уникальных покупателей
5. Средняя цена заказа
6. Средняя выручка за один заказ
7. Среднее количество выручки в месяц

In [12]:
query1 = """
WITH sub_query AS (SELECT
p.product_key,
p.product_name AS product_name,
p.category AS category,
p.subcategory AS subcategory,
p.cost AS cost,
COUNT(DISTINCT f.order_number) AS total_orders,
SUM(f.sales_amount) AS total_sales,
SUM(f.quantity) AS total_quantity,
COUNT(DISTINCT f.customer_key) AS unique_customers,
ROUND(AVG(f.sales_amount), 1) AS avg_sell,
EXTRACT(YEAR FROM AGE(MAX(f.order_date), MIN(f.order_date)))*12
+ EXTRACT(MONTH FROM AGE(MAX(f.order_date), MIN(f.order_date))) AS life_span,
MAX(f.order_date) AS last_sale
FROM dim_products p
LEFT JOIN fact_sales f
ON p.product_key = f.product_key
WHERE f.order_date IS NOT NULL
GROUP BY p.product_key, p.product_name, p.category, p.subcategory, p.cost
)
SELECT
product_key,
product_name,
category,
subcategory,
cost,
last_sale,
(EXTRACT(YEAR FROM AGE('2014-02-10', last_sale))*12 + EXTRACT(MONTH FROM AGE('2014-02-10', last_sale))) AS recency_in_months,
CASE WHEN total_sales > 50000 THEN 'Высокий'
	 WHEN total_sales >= 10000 THEN 'Средний'
	 ELSE 'Низкий'
END preformance,
life_span,
total_orders,
total_sales,
total_quantity,
unique_customers,
avg_sell,
CASE WHEN total_orders = 0 THEN 0
	 ELSE ROUND(total_sales/total_orders, 0)
END avg_order_revenue,
CASE WHEN life_span = 0 THEN total_sales
	 ELSE ROUND(total_sales/life_span, 0)
END avg_monthly_revenue
FROM sub_query
"""

df = pd.read_sql_query(text(query1), engine)
df.head(20)

,product_key,product_name,category,subcategory,cost,last_sale,recency_in_months,preformance,life_span,total_orders,total_sales,total_quantity,unique_customers,avg_sell,avg_order_revenue,avg_monthly_revenue
0,3,Mountain-100 Black- 38,Bikes,Mountain Bikes,1898,2011-12-27,25.0,Высокий,11.0,49,165375.0,49.0,49,3375.0,3375.0,15034.0
1,4,Mountain-100 Black- 42,Bikes,Mountain Bikes,1898,2011-12-27,25.0,Высокий,11.0,45,151875.0,45.0,45,3375.0,3375.0,13807.0
2,5,Mountain-100 Black- 44,Bikes,Mountain Bikes,1898,2011-12-21,25.0,Высокий,11.0,60,202500.0,60.0,60,3375.0,3375.0,18409.0
3,6,Mountain-100 Black- 48,Bikes,Mountain Bikes,1898,2011-12-26,25.0,Высокий,11.0,57,192375.0,57.0,57,3375.0,3375.0,17489.0
4,7,Mountain-100 Silver- 38,Bikes,Mountain Bikes,1912,2011-12-22,25.0,Высокий,11.0,58,197200.0,58.0,58,3400.0,3400.0,17927.0
5,8,Mountain-100 Silver- 42,Bikes,Mountain Bikes,1912,2011-12-28,25.0,Высокий,11.0,42,142800.0,42.0,42,3400.0,3400.0,12982.0
6,9,Mountain-100 Silver- 44,Bikes,Mountain Bikes,1912,2011-12-12,25.0,Высокий,11.0,49,166600.0,49.0,49,3400.0,3400.0,15145.0
7,10,Mountain-100 Silver- 48,Bikes,Mountain Bikes,1912,2011-12-23,25.0,Высокий,11.0,36,122400.0,36.0,36,3400.0,3400.0,11127.0
8,16,Road-150 Red- 44,Bikes,Road Bikes,2171,2011-12-28,25.0,Высокий,11.0,281,1005418.0,281.0,281,3578.0,3578.0,91402.0
9,17,Road-150 Red- 48,Bikes,Road Bikes,2171,2011-12-28,25.0,Высокий,11.0,337,1205786.0,337.0,337,3578.0,3578.0,109617.0
10,18,Road-150 Red- 52,Bikes,Road Bikes,2171,2011-12-27,25.0,Высокий,11.0,302,1080556.0,302.0,302,3578.0,3578.0,98232.0
11,19,Road-150 Red- 56,Bikes,Road Bikes,2171,2011-12-27,25.0,Высокий,11.0,295,1055510.0,295.0,295,3578.0,3578.0,95955.0
12,20,Road-150 Red- 62,Bikes,Road Bikes,2171,2011-12-28,25.0,Высокий,11.0,336,1202208.0,336.0,336,3578.0,3578.0,109292.0
13,36,Road-650 Black- 44,Bikes,Road Bikes,487,2012-12-26,13.0,Средний,23.0,63,47565.0,63.0,63,755.0,755.0,2068.0
14,37,Road-650 Black- 48,Bikes,Road Bikes,487,2012-12-25,13.0,Средний,20.0,60,45552.0,60.0,60,759.2,759.0,2278.0
15,38,Road-650 Black- 52,Bikes,Road Bikes,487,2012-12-19,13.0,Высокий,22.0,89,66915.0,89.0,89,751.9,752.0,3042.0
16,39,Road-650 Black- 58,Bikes,Road Bikes,487,2012-12-18,13.0,Высокий,23.0,76,57996.0,76.0,76,763.1,763.0,2522.0
17,40,Road-650 Black- 60,Bikes,Road Bikes,487,2012-12-12,13.0,Высокий,22.0,76,57156.0,76.0,76,752.1,752.0,2598.0
18,41,Road-650 Black- 62,Bikes,Road Bikes,487,2012-12-18,13.0,Средний,23.0,65,49047.0,65.0,65,754.6,755.0,2132.0
19,42,Road-650 Red- 44,Bikes,Road Bikes,487,2012-12-25,13.0,Высокий,23.0,72,54528.0,72.0,72,757.3,757.0,2371.0

### Используя доклад в пункте 8, перейдем ко второй части проекта, EDA